.logo {
  width: 190px;
  height: auto;
  rotate: 90deg;
  margin: 30px auto;
  display: block;
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  .card-title {
    color: $color-principal;
    font-weight: bold;
  }
}
