<<<<<<< HEAD
@use "variables" as *;

=======
>>>>>>> 822f9c6e420e77194e4b24f6a7eb3d6996ff55fd
body {
  margin: 0;
  padding: 0;
  background-color: $color-secundario;
  font-family: $fuente-principal;
  overflow-x: hidden;
}

h1,h2,
.titulos {
  color: $acento;
<<<<<<< HEAD
  font-size: $font-size-titulos;
  margin: 22px;
  text-align: center;
  font-weight: 300;
  font-family: $fuente-titulos;
  line-height: 1.2;
=======
  font-size:$font-size-base;
  margin: 22px;
  text-align: center;
  font-weight: 200;
  font-family: $fuente-titulos;
>>>>>>> 822f9c6e420e77194e4b24f6a7eb3d6996ff55fd
}

p,
.parrafos {
  margin: 20px;
  text-align: center;
  color: $texto-suave;
<<<<<<< HEAD
  font-size: $font-size-parrafos;
  font-weight: 400;
  line-height: 1.6;
=======
  font-size:$font-size-base;
  font-weight: 200;
>>>>>>> 822f9c6e420e77194e4b24f6a7eb3d6996ff55fd
}
