// Variables globales
$color-principal: #363636;
$acento: #22142c;
$texto-suave: #353535;
<<<<<<< HEAD
$font-size-base: 1.2rem;
$font-size-titulos: 2.5rem;
$font-size-parrafos: 1.1rem;
$fuente-principal: 'Quicksand', sans-serif;
$fuente-titulos: 'Bebas Neue', sans-serif;
$color-secundario: #f0f0f0;
=======
$font-size-base: 20px;
$fuente-principal: 'Quicksand', sans-serif;
$fuente-titulos: 'Bebas Neue', sans-serif;
>>>>>>> 822f9c6e420e77194e4b24f6a7eb3d6996ff55fd

//  Espaciados globales
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;