// Variables globales
$color-principal: #363636;
$acento: #22142c;
$texto-suave: #353535;
$font-size-base: 20px;
$fuente-principal: 'Quicksand', sans-serif;
$fuente-titulos: 'Bebas Neue', sans-serif;

//  Espaciados globales
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;