.footer-custom {
  position : fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #777777;
  padding: 10vh;
  font-size: 15px;
  color: $color-principal;
  font-family: $fuente-principal;
}


